DISCORD_BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
SOURCE_TEXT_CHANNEL_ID=123456789012345678
TARGET_TEXT_CHANNEL_ID=987654321098765432
MANAGEMENT_CHANNEL_ID=555555555555555555
CHANGELOG_CHANNEL_ID=666666666666666666
GITHUB_REPOSITORY=roskata729/safd-bot
GITHUB_BRANCH=main
GITHUB_WEBHOOK_SECRET=PUT_A_RANDOM_WEBHOOK_SECRET_HERE
DEPLOY_WEBHOOK_HOST=0.0.0.0
DEPLOY_WEBHOOK_PORT=9000
BOT_SERVICE_NAME=discord-activity-bot
COMMAND_PREFIX=!
